<?php

/**
 * Configuration for the message classes.
 * 
 * These should correspond with the event name in the GitHub webhook payload.
 */

return [

    /*
    |--------------------------------------------------------------------------
    | Service identification
    |--------------------------------------------------------------------------
    | Index key name of the service handling the payload events, has to match
    | the name in `services.php` registry.
    */

    'github' => [

        /*
        |--------------------------------------------------------------------------
        | Messages specification
        |--------------------------------------------------------------------------
        | Array of arrays, where indexes form a path of event type -> category ->
        | action, ending with a class handling a specific message path. Paths can
        | go deeper, this is just an example for GitHub.
        */

        'push' => [
            'commit' => \tei187\GitDisWebhook\Platform\GitHub\Messages\Push\Commit::class,
            'tag' => [
                'created' => \tei187\GitDisWebhook\Platform\GitHub\Messages\Push\Tag\Created::class,
                'deleted' => \tei187\GitDisWebhook\Platform\GitHub\Messages\Push\Tag\Deleted::class,
            ],
            'branch' => [
                'created' => \tei187\GitDisWebhook\Platform\GitHub\Messages\Push\Branch\Created::class,
                'deleted' => \tei187\GitDisWebhook\Platform\GitHub\Messages\Push\Branch\Deleted::class,
            ]
        ],
        'ping' => \tei187\GitDisWebhook\Platform\GitHub\Messages\Ping::class,
        'fork' => null,
        'release' => [
            'published' => \tei187\GitDisWebhook\Platform\GitHub\Messages\Release\Published::class,
            'released'  => null,
            'created'   => null,
            'deleted'   => null,
        ]
    ]
];