<?php

/**
 * Configuration for the message classes.
 * 
 * These should correspond with the event name in the GitHub webhook payload.
 */

return [
    'push' => [
        'commit' => \tei187\GithubDiscordWebhook\Messages\Push\Commit::class,
        'tag' => [
            'created' => \tei187\GithubDiscordWebhook\Messages\Push\Tag\Created::class,
            'deleted' => \tei187\GithubDiscordWebhook\Messages\Push\Tag\Deleted::class,
        ],
        'branch' => [
            'created' => \tei187\GithubDiscordWebhook\Messages\Push\Branch\Created::class,
            'deleted' => \tei187\GithubDiscordWebhook\Messages\Push\Branch\Deleted::class,
        ]
    ],
    'fork' => null,
    'release' => [
        'published' => \tei187\GithubDiscordWebhook\Messages\Release\Published::class,
        'released'  => null,
        'created'   => null,
        'deleted'   => null,
    ],
];