<?php

/**
 * Configuration for webhook types.
 *
 * This file maps webhook types to their respective classes, enabling the framework to handle different
 * webhook providers appropriately.
 * 
 * This is where you can register new webhook types by associating a unique key with the corresponding
 * webhook class.
 */

return [
    /*
    |----------------------------------------------------------------------
    | Webhooks index list
    |----------------------------------------------------------------------
    | A registry of all webhook handlers, per class name.
    */

    'registry' => [
        'discord' => \tei187\GitDisWebhook\Webhooks\DiscordWebhook::class
    ],

    /*
    |----------------------------------------------------------------------
    | Webhook detection rules
    |----------------------------------------------------------------------
    | Rules for detecting incoming webhook requests and mapping them to
    | the appropriate webhook class.
    | This typically involves inspecting targeted domain or url.
    |
    | Each webhook class is associated with an array of rules.
    | Supported rule types:
    | - domain: An array of allowed origin domains.
    | - url: An array of allowed webhook URL prefixes.
    */

    'detectors' => [
        'discord' => [
            'domain' => [
                'discord.com',
                'discordapp.com'
            ],
            'url' => [
                'https://discord.com/api/webhooks/',
                'https://discordapp.com/api/webhooks/'
            ],
        ]
    ]
];